sqlalchemy
pydantic~=2.12.5
uvicorn~=0.38.0
fastapi~=0.125.0
httpx~=0.28.1
certifi
fastmcp~=2.14.1
openai~=2.14.0
anthropic
google-genai
pypdf
python-dotenv~=1.2.1

passlib[argon2]
argon2-cffi
pymysql
jsonschema
pyyaml

cryptography
ddgs
jinja2
croniter
starlette
contextvars
faiss-cpu
numpy
msal~=1.36
paramiko~=3.5
azure-storage-blob~=12.24
azure-storage-file-share~=12.20
fsspec~=2024.9
s3fs~=2024.9
adlfs~=2024.7
